<footer class="footer">
    <div class="nav-footer">
        <button routerLink="/dashboard" routerLinkActive="active" class="nav-btn">
            <i class="fa-regular fa-house"></i>
            <span>Início</span>
        </button>
        <button routerLink="/notas"  routerLinkActive="active" class="nav-btn">
            <i class="fa-solid fa-book-open"></i>
            <span>Notas</span>
        </button>
        <button routerLink="/horarios"  routerLinkActive="active" class="nav-btn">
            <i class="fa fa-calendar-alt"></i>
            <span>Horários</span>
        </button>
        <button routerLink="/frequencia"  routerLinkActive="active" class="nav-btn">
            <i class="fa fa-check-square"></i>
            <span>Frequência</span>
        </button>
        <button routerLink="/perfil"  routerLinkActive="active" class="nav-btn">
            <i class="fa fa-user"></i>
            <span>Perfil</span>
        </button>
    </div>
</footer>